# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables (IMPORTANT - Never commit secrets!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
/coverage

# Production
/build
/dist

# Logs
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# IDE specific
*.sublime-workspace
*.sublime-project

# Misc
.cache/
.parcel-cache
.next
out